<%- include('templates/header') -%>

        <div class="registerContainer">
            <nav class="navbar navbar-dark bg-dark justify-content-between">
                
                <a class="navbar-brand" href="/">
                    <h2 id="name">Team A Store</h2>
                </a>
                
                <form class="form-inline" action="/searchResults">
                    <input name="searchedItem" id="searchBar" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" required>
                    <button class='btn btn-outline-success my-2 my-sm-0' style="margin:5px;"><strong>Search</strong></button>
                    <a href="/products"><button id="btnProducts" style="margin:5px;" type="button" class="btn btn-outline-info">Products</button></a>
                    <a href="/profile"><button id="btnProfile" style="margin:5px;" type="button" class="btn btn-outline-info">My Profile</button></a>
                    <a href="/cart"><button id="btnCart" style="margin:5px;" type="button" class="btn btn-outline-info"><ion-icon name ="basket"></ion-icon> Cart</button></a>
                    <a href="/signIn"><button id="btnSignOut" style="margin:5px;" type="button" class="btn btn-outline-info">Sign Out</button></a>
                </form>
                
            </nav>
        </div>
        
        <div class="background">
            <div class="containerLogin">
                <div class="w3-container w3-center w3-animate-zoom">
                    
                    
                    <div class="productsContainer">
                        <h2 id="productsTitle">Our Products</h2>
                        
                        <div class="products">
                            <figure>
                                <div class="container1">
                                    <% items.forEach(function(i){ %>
                                      <form class="inventory" method="GET" action="/productDetailPage">
                                        <input type="hidden" name="option" value=<%=i.itemId %> >
                                          <img width="200" height="220px" src ='<%=i.itemlink%>'>
                                          <div id="information">
                                            <h3><%=i.itemname%></h3>
                                            <h5>Category: <%=i.category%></h5>
                                            <h5>Stock: <%=i.stock%></h5>
                                            <h5>Price: <%=i.price%></h5>
                                            <button class="btn btn-secondary btn-sm" type="submit">Product Detail</button>
                                            <button id="btnAddToCart" style="margin:5px;" type="submit" class="btn btn-info">Add to Cart</button>
                                            <br>
                                          </div>
                                     <% }); %>
                                    </form>
                                </div>
                            </figure> 
                            
                        </div>
                        
                        
                 <!--       
                        
                       
                        <div class="products">
                            <figure>
                                <img src="menJeans.png" alt="Regular Jeans Image"/>
                                <a href="/details"><figcaption>Regular Jeans</figcaption></a>
                            </figure> 
                            
                            <button id="btnAddToCart" style="margin:5px;" type="button" class="btn btn-info">Add to Cart</button>
                        </div>
                        
                        
                        
                        
                        
                        
                        <div class="products">
                            <figure>
                                <img src="menRipped.png" alt="Ripped Jeans Image"/>
                                <a href="/details"><figcaption>Ripped Jeans</figcaption></a>
                            </figure> 
                            
                            <button id="btnAddToCart" style="margin:5px;" type="button" class="btn btn-info">Add to Cart</button>
                        </div>
                        
                        -->
                    </div>
                    
                    
                </div>
            </div>
        </div>

<%- include('templates/footer') -%>