<%- include('templates/header') -%>
<div class="signContainer">
  <nav class="navbar navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand" href="/">
      <h2 id="name">TEMP</h2>
    </a>
    
    <form action="/searchResults">
      <input name="searchedItem" id="searchBar" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" required>
      <button class='btn btn-outline-success my-2 my-sm-0' style="margin:5px;"><strong>Search</strong></button>
    </form>
  </nav>
</div>

<div class="container">
    <form class="inventory">
        <div class="img-thumbmail flex-item">
          <img width="650px" height="550px" src ='<%=item.itemlink%>'>
          <div id="information">
            <h3><%=item.itemname%></h3>
            <h5>Description: <%=item.desc%></h5>
            <br>
          </div>
        </div>
    </form>
</div>


<%- include('templates/footer') -%>
